<div class="row">
    <div class="col-lg-4">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashboard</h1>
                <h3 class="font-bold no-margins">
                    ASP .NET CORE 5
                </h3>
                <small>Admin İşlemleri Burada gerçekleşir. lorem ipsum.......................</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Blok</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.v1
                </h3>
                <small>@ViewBag.v2.Substring(0, 50)... </small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 2574</h1>

                <h3 class="font-bold no-margins">
                    Blog Site Kazancı
                </h3>
                <small>Not Satışı, özel ders</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
