
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Yazar Paneli</h1>
    <br />
    <h1>@ViewBag.v</h1>
    <br />
    <h2>@ViewBag.v2</h2>
</body>
</html>
