@model CoreDemo.Controllers.Class1
@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>EditEmployee</h1>
<form method="post">
    <label>Id</label>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    <label>Ad</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <button class="btn btn-outline-success mt-3">Güncelleme</button>
</form>
